th button span {
  color: #000 !important; // cabeçalhos pretos
}

td a {
  color: #3273dc; // azul padrão
  transition: color 0.2s ease;
}

td a:hover {
  color: #000;
}

td a.has-text-danger {
  color: #dc3545; // vermelho para Mother
}

td a.has-text-link {
  color: #3273dc; // azul para Father
}
